{% extends "base.html.twig" %}

{% block title %}

	Modification de
	{{ category.name}}

{% endblock %}

{% block body %}
	<h1>Modifier la categorie:
		{{ category.name}}
	</h1>

	{{ form_start(formview) }}
	{{ form_errors(formview) }}
	<div class="row">
		<div class="col-5">
			{{ form_row(formview.name) }}
		</div>
	</div>
	<button class="submit btn btn-primary">
		<i class="fas fa-save"></i>
		Modifier
	</button>


	{{ form_end(formview) }}

{% endblock %}
